/* https://www.w3school.com.cn/css/css_image_transparency.asp */
/* CSS 不透明度 / 透明度 */

/* opacity 属性指定元素的不透明度/透明度。 */

/* 透明图像/ */
/* opacity 属性的取值范围为 0.0-1.0。值越低，越透明： */
/* 实例 */
img {
  opacity: 0.5;
}

/* 透明悬停效果 */
/* opacity 属性通常与 :hover 选择器一同使用，这样就可以在鼠标悬停时更改不透明度： */
/* 实例 */
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
/* 例子解释 */
/* 第一个 CSS 块类似于实例 1 中的代码。此外，我们还添加了当用户将鼠标悬停在其中一个图像上时的效果。在这种情况下，当用户将鼠标悬停在图像上时，我们希望图像不透明。这条 CSS 是 opacity:1;。 */
/* 当鼠标指针离开图像时，图像将再次透明。 */
/* 反向悬停效果的例子： */
/* 实例 */
img:hover {
  opacity: 0.5;
}

/* 透明盒 */
/* 使用 opacity 属性为元素的背景添加透明度时，其所有子元素都继承相同的透明度。这可能会使完全透明的元素内的文本难以阅读： */
/* 实例 */
div {
  opacity: 0.3;
}

/* 使用 RGBA 的透明度 */
/* 如果您不希望对子元素应用不透明度，如上面的例子，请使用 RGBA 颜色值。下面的例子设置背景色而不是文本的不透明度： */
/* 实例 */
div {
  background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */
}































