/* CSS 设置高度和宽度 */
/* height 和 width 属性用于设置元素的高度和宽度。 */
/* height 和 width 属性不包括内边距、边框或外边距。它设置的是元素内边距、边框以及外边距内的区域的高度或宽度。 */

/* CSS 高度和宽度值 */
/* height 和 width 属性可设置如下值： */
/* auto - 默认。浏览器计算高度和宽度。 */
/* length - 以 px、cm 等定义高度/宽度。 */
/* % - 以包含块的百分比定义高度/宽度。 */
/* initial - 将高度/宽度设置为默认值。 */
/* inherit - 从其父值继承高度/宽度。 */
/* 实例 */
/* 设置 <div> 元素的高度和宽度： */
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
/* 实例 */
/* 设置另一个 <div> 元素的高度和宽度： */
div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}
/* 注意：请记住，height 和 width 属性不包括内边距、边框或外边距！它们设置的是元素的内边距、边框和外边距内的区域的高度/宽度！ */

/* 设置 max-width */
/* max-width 属性用于设置元素的最大宽度。 */
/* 可以用长度值（例如 px、cm 等）或包含块的百分比（％）来指定 max-width（最大宽度），也可以将其设置为 none（默认值。意味着没有最大宽度）。 */
/* 当浏览器窗口小于元素的宽度（500px）时，会发生之前那个 <div> 的问题。然后，浏览器会将水平滚动条添加到页面。 */
/* 在这种情况下，使用 max-width 能够改善浏览器对小窗口的处理。 */
/* 提示：将浏览器窗口拖动到小于500px的宽度，以查看两个 div 之间的区别！ */
/* 此元素的高度为 100 像素，最大宽度为 500 像素。 */
/* 注释：max-width 属性的值将覆盖 width（宽度）。 */
/* 实例 */
/* 这个 <div> 元素的高度为 100 像素，最大宽度为 500 像素： */
div {
  max-width: 500px;
  height: 100px;
  background-color: powderblue;
}























